# Misc
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

*~

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


# Dev
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

.tmp
*.log
*.sql
*.sqlite
*.sqlite3

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep
.tsbuildinfo
.eslintcache

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

license.txt
exports
.strapi
dist
build

npm-debug.log*

coverage

.env
.env.*
.*.env
!.env.example

.strapi-updater.json
.strapi-cloud.json
